* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* 1 - Topo da página */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
    height: 60px;
    padding: 10px 30px;
}

.logo img {
    height: 60px;
}

nav {
    display: flex;
    align-content: right;
    gap: 20px;
}

nav a,
header a,
a:hover,
a:visited {
    color: blue;
    text-decoration: none;
}

/* 2 - Corpo da página (Todas) */
body {
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    min-height: 100vh;
    margin: 0 5%;
}

main {
    background-color: whitesmoke;
    text-align: center;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
    padding: 2%;
}

/* 3 - Pé da página */
footer {
    position: fixed;
    bottom: 0;
    left: 5%;
    right: 5%;
    background-color: white;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
    padding: 10px 30px;
    height: 60px;
    max-width: 100%;
}

.copyright {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 60px;
}

/* 4 - Página inicial */
.home img {
    border: 1px solid black;
    width: 70%;
    padding: 15px;
    border-radius: 8px;
}

/* 5 - Galeria */
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}


.column img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
}

.quatro img {
    width: 25%;
}

/* 6 - Página Sobre */