/* 1 - Topo da página */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 60px;
    padding: 10px 20px;
}

.logo img {
    height: 60px;
}

nav {
    display: flex;
    align-content: right;
    gap: 20px;
}

nav a,
header a,
a:hover,
a:visited {
    color: blue;
    text-decoration: none;
}

/* 2 - Corpo da página (Todas) */
body {
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    min-height: 100vh;
    margin: 0 5%;
    box-shadow: 0px 0px 10px;
}

main {
    background-color: whitesmoke;
    text-align: center;
    min-height: calc(100% - 167px);
}

/* 3 - Pé da página */
footer {
    display: block;
    bottom: auto;
    background-color: white;
    padding: 10px 30px;
    height: 60px;
    max-width: 100%;
}

.copyright {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 60px;
}

/* 4 - Página inicial */
.home img {
    width: 70%;
    padding: 15px;
}

/* 5 - Galeria */
.galeria {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    justify-content: center;
}

.coluna {
    flex: 25%;
    max-width: 50%;
    padding: 0 8px;
}


.coluna img {
    width: 100%;
    margin: 8px 0;
    vertical-align: middle;
}

.quatro {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
}

.quatro img {
    width: 50%;
    margin: 0;
}

/* 6 - Página Sobre */

/* 0 - Media Queries */
@media (max-width: 1280px) {

    /* 5 - Galeria */
    .coluna {
        flex: 40%;
    }

    .terceira {
        max-width: 100%;
    }
}

@media (max-width: 768px) {

    /* 2 - Corpo da página (Todas) */
    body {
        margin: 0;
        box-shadow: none;
    }

    /* 5 - Galeria */
    .galeria{
        flex-direction: column;
    }

    .coluna {
        max-width: 100%;
    }
}